<!DOCTYPE HTML>
<htmL>
    <head>
        <title>ahmed sultan</title>
        {% include head.html %} 
    </head>
    <body>
        <div>
            <img src="{{ site.baseurl }}/assets/img/pfp.jpg" alt="My Profile Picture" height="300" width="300">
            <h1 class="title">ahmed sultan</h1>
            <p>Welcome to my site.</p>
        </div>
        <br>
        <br>
        <br>
        <div>
            <a href="https://www.linkedin.com/in/ahmedksultan/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a> <br>
            <a href="https://x.com/qbertineaux"><i class="fa-brands fa-square-x-twitter"></i> Twitter</a>
        </div>
        
    </body>
</htmL>